[Common]

OldGT:          START36_V3
NewGT:          START36_V4

[Tags]

# New L1 Trigger Menu (need to be coordinated with HLT menu)
L1GtTriggerMenu_V11MENU: L1GtTriggerMenu_L1Menu_Commissioning2010_v1_mc

# new ECAL scale
EcalADCToGeVConstant_Bon_withBS2009_ideal_mc: EcalADCToGeVConstant_2010_V1_Bon_mc

# DESCOPED to 370
# new EcalPedestal for improved noise simulation
# EcalPedestals_mc: EcalPedestals_v01_mc






[Connect]
 
#ConnectReplace: frontier://FrontierPrep


[Account]

# DESCOPED to 370
# EcalPedestals_v01_mc: CMS_COND_31X_ECAL

[AddRecord]

# DESCOPED to 370
# new records for ES
# ESGain_HG_V01_mc: ESGain{recordname=ESGainRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESGain}
# ESThresholds_HG_V01_mc: ESThresholds{recordname=ESThresholdsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESThresholds}
# ESMIPToGeVConstant_HG_V01_mc: ESMIPToGeVConstant{recordname=ESMIPToGeVConstantRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESMIPToGeVConstant}
# ESRecHitRatioCuts_HG_V01_mc: ESRecHitRatioCuts{recordname=ESRecHitRatioCutsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESRecHitRatioCuts}
# ESPedestals_HG_V01_mc: ESPedestals{recordname=ESPedestalsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESPedestals}
# ESChannelStatus_HG_V01_mc: ESChannelStatus{recordname=ESChannelStatusRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESChannelStatus}
# ESIntercalibConstants_HG_V01_mc: ESIntercalibConstants{recordname=ESIntercalibConstantsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESFloatCondObjectContainer}



[Comments]

Release: 36X >= 360pre4. For use with 8E29 !HLT menu.

Scope: To be used for reprocessing of 2009As the 'MC' GT (including bad channels), but with realistic startup alignment and calibration constants. The mis-alignment and mis-calibration scenarios are described [[AlCaScenarios][here]]
#Changes: <br> - new L1 Menu 'Commissioning2010_v1'

Changes: <br> - update Ecal ADC-to-GeV constants<br> - new L1 Menu 'Commissioning2010_v1'




