[Common]

OldGT:          DESIGN_37_V1
NewGT:          DESIGN_37_V2


Passwd: /afs/cern.ch/cms/DB/conddb
Environment: offline

[Tags]

L1GtTriggerMenu_IDEAL_v6: L1GtTriggerMenu_L1Menu_MC2010_v0_mc
L1GctJetFinderParams_HTMHTThresh10GeV: L1GctJetFinderParams_GCTPhysics_28Apr2010_mc


# new geometry tags from Mike Case
# CASTORRECO_Geometry_Tag340_v4: CASTORRECO_Geometry_Tag38YV0
# CSCRECODIGI_Geometry_Tag340_v4: CSCRECODIGI_Geometry_Tag38YV0
# CSCRECO_Geometry_Tag340_v4: CSCRECO_Geometry_Tag38YV0
# CTRECO_Geometry_Tag340_v4: CTRECO_Geometry_Tag38YV0
# DTRECO_Geometry_Tag340_v4: DTRECO_Geometry_Tag38YV0
# EBRECO_Geometry_Tag340_v4: EBRECO_Geometry_Tag38YV0
# EERECO_Geometry_Tag340_v4: EERECO_Geometry_Tag38YV0
# EPRECO_Geometry_Tag340_v4: EPRECO_Geometry_Tag38YV0
# HCALRECO_Geometry_Tag340_v4: HCALRECO_Geometry_Tag38YV0
# RPCRECO_Geometry_Tag340_v4: RPCRECO_Geometry_Tag38YV0
# TKRECO_Geometry_Tag340_v4: TKRECO_Geometry_Tag38YV0
# XMLFILE_Geometry_ExtendedGFlash_Tag340_v4: XMLFILE_Geometry_ExtendedGFlash_Tag38YV0
# XMLFILE_Geometry_Extended_Tag340_v4: XMLFILE_Geometry_Extended_Tag38YV0
# XMLFILE_Geometry_IdealGFlash_Tag340_v4: XMLFILE_Geometry_IdealGFlash_Tag38YV0
# XMLFILE_Geometry_Ideal_Tag340_v4: XMLFILE_Geometry_Ideal_Tag38YV0
# ZDCRECO_Geometry_Tag340_v4: ZDCRECO_Geometry_Tag38YV0


[Connect]


# CASTORRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# CSCRECODIGI_Geometry_Tag38YV0: frontier://FrontierPrep
# CSCRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# CTRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# DTRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# EBRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# EERECO_Geometry_Tag38YV0: frontier://FrontierPrep
# EPRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# HCALRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# RPCRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# TKRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_ExtendedGFlash_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_Extended_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_IdealGFlash_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_Ideal_Tag38YV0: frontier://FrontierPrep
# ZDCRECO_Geometry_Tag38YV0: frontier://FrontierPrep

[Account]


# CASTORRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# CSCRECODIGI_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# CSCRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# CTRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# DTRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# EBRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# EERECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# EPRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# HCALRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# RPCRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# TKRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_ExtendedGFlash_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_Extended_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_IdealGFlash_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_Ideal_Tag38YV0: CMS_COND_GEOMETRY
# ZDCRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY




[AddRecord]

ESEEIntercalibConstants_HG_V01_mc: ESEEIntercalibConstants{recordname=ESEEIntercalibConstantsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESEEIntercalibConstants}
ESTimeSampleWeights_HG_V01_mc: ESTimeSampleWeights{recordname=ESTimeSampleWeightsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESTimeSampleWeights}


[TagManipulation]

check: new


[Comments]

Scope: Ideal/trivial conditions - perfectly aligned and calibrated detector. Alignment and calibration constants = 1, with no smearing.  No bad channels.  MC production using this global tag is not planned.

Release: 37X >= 370pre3.  For use with 1E31 HLT menu.

Changes: <br> - add ES objects (EE-ES Intercalibration and time samples)<br> - new L1 menu<br> - new GCT configuration

