[Common]

OldGT:          GR_R_37X_V5
NewGT:          GR_R_37X_V6


Passwd: /afs/cern.ch/cms/DB/conddb
Environment: offline

GTType: data


[Tags]

DTAlignment_2009_v3_offline:   DTAlignment_2009_v4_offline
CSCAlignment_2009_v3_offline:  CSCAlignment_2009_v4_offline
GlobalAlignment_v1_offline:    GlobalAlignment_v2_offline

[Connect]
  
#ConnectReplace: frontier://FrontierPrep


[Account]





[AddRecord]



[RmRecord]


[TagManipulation]

check: new


[Comments]

Release: 37X

Scope: To be used for reprocessing of 2009 and 2010 data.

Changes: 

