[Common]

OldGT:          CRAFT09_R_V12
NewGT:          CRFT9_36R_V01

[Tags]


# update AlCaReco Trigger bits
AlCaRecoHLTpaths8e29_1e31_v5_offline: AlCaRecoHLTpaths8e29_1e31_v7_offline

# updates from R2_V2
TrackerAlignment_2009_v2_offline: TrackerAlignment_2009_v4_offline
DTAlignmentRcd_CRAFT_segments-globalMuons_31X_v7_offline: DTAlignment_2009_v1_offline
DTIdealGeometryErrors200_mc: DTAlignmentError_2009_v1_offline
CSCAlignmentRcd_CRAFT_PG-hardware-globalMuons_31X_v3_offline: CSCAlignment_2009_v1_offline
SiPixelQuality_v03: SiPixelQuality_v03_offline
SiPixelTemplateDBObject0Tv0: SiPixelTemplateDBObject0Tv1_offline
SiPixelTemplateDBObject38Tv0: SiPixelTemplateDBObject38Tv1_offline
SiPixelTemplateDBObject4Tv0: SiPixelTemplateDBObject4Tv1_offline
SiStripNoise_GR09_31X_v1_offline: SiStripNoise_GR09_31X_v2_offline
SiStripBadComponents_OfflineAnalysis_GR09_31X_v1_offline: SiStripBadComponents_OfflineAnalysis_GR09_31X_v3_offline
EcalIntercalibConstants_CRAFT2009_offline: EcalIntercalibConstants_CRAFT2009_V3_offline
EcalADCToGeVConstant_CRAFT2009_offline: EcalADCToGeVConstant_CRAFT2009_V3_offline
EcalPedestals_v5_online: EcalPedestals_2009runs_hlt
L1CaloHcalScale_CRAFT09_offline: L1CaloHcalScale_CRAFT09_offline_v2
L1EmEtScale_CRAFT09_offline: L1EmEtScale_CRAFT09_offline_v2
SiStripLatency_Ideal_31X_v1: SiStripLatency_GR10_v1_offline



[Connect]


TauNeuralClassifier_v1_mc: frontier://FrontierProd
EgammaMVA_v1_mc: frontier://FrontierProd
HcalLutMetadata_v1.00_mc: frontier://FrontierProd
SiStripLatency_GR10_v1_offline: frontier://FrontierProd


[Account]


DTAlignmentError_2009_v1_offline: CMS_COND_31X_ALIGNMENT
TauNeuralClassifier_v1_mc: CMS_COND_31X_PHYSICSTOOLS
EgammaMVA_v1_mc: CMS_COND_31X_PHYSICSTOOLS
HcalLutMetadata_v1.00_mc: CMS_COND_31X_HCAL
SiStripLatency_GR10_v1_offline: CMS_COND_31X_STRIP



[AddRecord]



# Pixel Templates for various B fields updated to use labels instead of different records
SiPixelTemplateDBObject0Tv2_offline: SiPixelTemplate0T{recordname=SiPixelTemplateDBObjectRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PIXEL,objectname=SiPixelTemplateDBObject,labelname=0T}
SiPixelTemplateDBObject2Tv2_offline: SiPixelTemplate2T{recordname=SiPixelTemplateDBObjectRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PIXEL,objectname=SiPixelTemplateDBObject,labelname=2T};
SiPixelTemplateDBObject3Tv2_offline: SiPixelTemplate3T{recordname=SiPixelTemplateDBObjectRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PIXEL,objectname=SiPixelTemplateDBObject,labelname=3T};
SiPixelTemplateDBObject35Tv2_offline: SiPixelTemplate35T{recordname=SiPixelTemplateDBObjectRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PIXEL,objectname=SiPixelTemplateDBObject,labelname=35T};
SiPixelTemplateDBObject38Tv2_hlt: SiPixelTemplate38T{recordname=SiPixelTemplateDBObjectRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PIXEL,objectname=SiPixelTemplateDBObject};
SiPixelTemplateDBObject4Tv2_hlt: SiPixelTemplate4T{recordname=SiPixelTemplateDBObjectRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PIXEL,objectname=SiPixelTemplateDBObject,labelname=4T};

# new record for RPC L1
L1RPCHwConfig_v1_hlt: L1RPCHwConfig{recordname=L1RPCHwConfigRcd,connect=frontier://FrontierPrep,account=CMS_COND_RPC,objectname=L1RPCHwConfig};
L1RPCBxOrConfig_CRAFT09_hlt: L1RPCBxOrConfig{recordname=L1RPCBxOrConfigRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_L1T,objectname=L1RPCBxOrConfig};
L1RPCHsbConfig_CRAFT09_hlt: L1RPCHsbConfig{recordname=L1RPCHsbConfigRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_L1T,objectname=L1RPCHsbConfig);

