[Common]

OldGT:          START36_V4
NewGT:          START37_V0

[Tags]

# DESCOPED to 370
# new EcalPedestal for improved noise simulation
EcalPedestals_mc: EcalPedestals_v01_mc






[Connect]
 
#ConnectReplace: frontier://FrontierPrep

RPCEMap_v2: frontier://FrontierProd
L1RPCHwConfig_v1: frontier://FrontierProd


[Account]

# DESCOPED to 370
EcalPedestals_v01_mc: CMS_COND_31X_ECAL

RPCEMap_v2: CMS_COND_36X_RPC
L1RPCHwConfig_v1: CMS_COND_36X_RPC

[AddRecord]

# DESCOPED to 370
# new records for ES
ESGain_HG_V01_mc: ESGain{recordname=ESGainRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESGain}
ESThresholds_HG_V01_mc: ESThresholds{recordname=ESThresholdsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESThresholds}
ESMIPToGeVConstant_HG_V01_mc: ESMIPToGeVConstant{recordname=ESMIPToGeVConstantRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESMIPToGeVConstant}
ESRecHitRatioCuts_HG_V01_mc: ESRecHitRatioCuts{recordname=ESRecHitRatioCutsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESRecHitRatioCuts}
ESPedestals_HG_V01_mc: ESPedestals{recordname=ESPedestalsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESPedestals}
ESChannelStatus_HG_V01_mc: ESChannelStatus{recordname=ESChannelStatusRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESChannelStatus}
ESIntercalibConstants_HG_V01_mc: ESIntercalibConstants{recordname=ESIntercalibConstantsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESFloatCondObjectContainer}



[Comments]

Release: 37X >= 370pre1. For use with 8E29 !HLT menu.

Scope: To be used for reprocessing of 2009As the 'MC' GT (including bad channels), but with realistic startup alignment and calibration constants. The mis-alignment and mis-calibration scenarios are described [[AlCaScenarios][here]]
#Changes: <br> - new L1 Menu 'Commissioning2010_v1'

Changes: <br> - mirate RPC tags to production DB<br> - new ECAL pedestals for improved noise simulation<br> -add ES conditions from DB




