[Common]

OldGT:          GR_R_37X_V0
NewGT:          GR_R_37X_V1


Passwd: /afs/cern.ch/cms/DB/conddb
Environment: offline


[Tags]

HcalGains_v2.31_offline: HcalGains_v2.32_offline
EcalADCToGeVConstant_coll09_v5_offline: EcalADCToGeVConstant_v6_offline
EcalIntercalibConstants_coll09_v4_offline: EcalIntercalibConstants_v6_offline

AlCaRecoHLTpaths8e29_1e31_v8_offline: AlCaRecoHLTpaths8e29_1e31_v9_offline

# new geometry tags from Mike Case
# CASTORRECO_Geometry_Tag340_v4: CASTORRECO_Geometry_Tag38YV0
# CSCRECODIGI_Geometry_Tag340_v4: CSCRECODIGI_Geometry_Tag38YV0
# CSCRECO_Geometry_Tag340_v4: CSCRECO_Geometry_Tag38YV0
# CTRECO_Geometry_Tag340_v4: CTRECO_Geometry_Tag38YV0
# DTRECO_Geometry_Tag340_v4: DTRECO_Geometry_Tag38YV0
# EBRECO_Geometry_Tag340_v4: EBRECO_Geometry_Tag38YV0
# EERECO_Geometry_Tag340_v4: EERECO_Geometry_Tag38YV0
# EPRECO_Geometry_Tag340_v4: EPRECO_Geometry_Tag38YV0
# HCALRECO_Geometry_Tag340_v4: HCALRECO_Geometry_Tag38YV0
# RPCRECO_Geometry_Tag340_v4: RPCRECO_Geometry_Tag38YV0
# TKRECO_Geometry_Tag340_v4: TKRECO_Geometry_Tag38YV0
# XMLFILE_Geometry_ExtendedGFlash_Tag340_v4: XMLFILE_Geometry_ExtendedGFlash_Tag38YV0
# XMLFILE_Geometry_Extended_Tag340_v4: XMLFILE_Geometry_Extended_Tag38YV0
# XMLFILE_Geometry_IdealGFlash_Tag340_v4: XMLFILE_Geometry_IdealGFlash_Tag38YV0
# XMLFILE_Geometry_Ideal_Tag340_v4: XMLFILE_Geometry_Ideal_Tag38YV0
# ZDCRECO_Geometry_Tag340_v4: ZDCRECO_Geometry_Tag38YV0


[Connect]
  
#ConnectReplace: frontier://FrontierPrep
RPCStripNoises_v1_mc: frontier://FrontierProd
RPCClusterSize_mc: frontier://FrontierProd


# CASTORRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# CSCRECODIGI_Geometry_Tag38YV0: frontier://FrontierPrep
# CSCRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# CTRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# DTRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# EBRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# EERECO_Geometry_Tag38YV0: frontier://FrontierPrep
# EPRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# HCALRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# RPCRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# TKRECO_Geometry_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_ExtendedGFlash_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_Extended_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_IdealGFlash_Tag38YV0: frontier://FrontierPrep
# XMLFILE_Geometry_Ideal_Tag38YV0: frontier://FrontierPrep
# ZDCRECO_Geometry_Tag38YV0: frontier://FrontierPrep


[Account]

RPCStripNoises_v1_mc: CMS_COND_31X_RPC
RPCClusterSize_mc: CMS_COND_36X_RPC


# CASTORRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# CSCRECODIGI_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# CSCRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# CTRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# DTRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# EBRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# EERECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# EPRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# HCALRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# RPCRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# TKRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_ExtendedGFlash_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_Extended_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_IdealGFlash_Tag38YV0: CMS_COND_GEOMETRY
# XMLFILE_Geometry_Ideal_Tag38YV0: CMS_COND_GEOMETRY
# ZDCRECO_Geometry_Tag38YV0: CMS_COND_GEOMETRY


[AddRecord]

[RmRecord]



[TagManipulation]

check: new




[Comments]

Release: 37X

Scope: To be used for reprocessing of 2009 and 2010 data.

Changes: <br> - migrate RPC Noise amd Cluster size to production account<br> - fix ECAL intercalib constants (Boff) <br> - update HCAL gains <br> - Update AlcaReco selection for DtCalib
