[Common]

OldGT:          START3X_V25
NewGT:          START3X_V26

[Tags]

# New L1 Trigger Menu (need to be coordinated with HLT menu)
# L1GtTriggerMenu_V11MENU: L1GtTriggerMenu_L1Menu_Commissioning2010_v1_mc

EcalADCToGeVConstant_Bon_withBS2009_ideal_mc: EcalADCToGeVConstant_2010_V1_Bon_mc

L1RPCConeDefinition_200912NewPatterns: L1RPCConeDefinition_LHC_v1022
L1RPCConfig_200912NewPatterns: L1RPCConfig_LHC_v1022
L1MuGMTParameters_PtMergeByDTCSC: L1MuGMTParameters_STARTUP_v3 

[Connect]
 
#ConnectReplace: frontier://FrontierPrep


[Account]


[AddRecord]



[Comments]

Release: 35X >= 356. For use with 8E29 !HLT menu.
Scope: As the 'MC' GT (including bad channels), but with realistic startup alignment and calibration constants. The mis-alignment and mis-calibration scenarios are described [[AlCaScenarios][here]]

#Changes: <br> - new L1 Menu 'Commissioning2010_v1' (*NOTE*: must be used with !CMSSW 356 or later for compatibility with !HLT menu.

Changes: <br> - update Ecal ADC-to-GeV constanst<br> - new RPC LUTs without open pattern.

