[Common]

OldGT:          START36_V6
NewGT:          START36_V7


Passwd: /afs/cern.ch/cms/DB/conddb
Environment: offline

GTType: mc

[Tags]

L1GctJetFinderParams_STARTUP_v3: L1GctJetFinderParams_GCTPhysics_5May2010_mc

SiStripDeDxMip_3D_30X: SiStripDeDxMip3D_v01_mc

# new EcalPedestal for improved noise simulation
EcalPedestals_mc: EcalPedestals_v01_mc



[Connect]
 
#ConnectReplace: frontier://FrontierPrep

[Account]

# DESCOPED to 370
EcalPedestals_v01_mc: CMS_COND_31X_ECAL



[AddRecord]

SiStripApvGain_FromParticles_DecoMode_v2_mc: SiStripApvGain2{recordname=SiStripApvGain2Rcd, connect=frontier://FrontierProd,account=CMS_COND_31X_STRIP,objectname=SiStripApvGain}



# DESCOPED to 370
# new records for ES
ESGain_HG_V01_mc: ESGain{recordname=ESGainRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESGain}
ESThresholds_HG_V01_mc: ESThresholds{recordname=ESThresholdsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESThresholds}
ESMIPToGeVConstant_HG_V01_mc: ESMIPToGeVConstant{recordname=ESMIPToGeVConstantRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESMIPToGeVConstant}
ESRecHitRatioCuts_HG_V01_mc: ESRecHitRatioCuts{recordname=ESRecHitRatioCutsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESRecHitRatioCuts}
ESPedestals_HG_V01_mc: ESPedestals{recordname=ESPedestalsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESPedestals}
ESChannelStatus_HG_V01_mc: ESChannelStatus{recordname=ESChannelStatusRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESChannelStatus}
ESIntercalibConstants_HG_V01_mc: ESIntercalibConstants{recordname=ESIntercalibConstantsRcd,connect=frontier://FrontierProd,account=CMS_COND_31X_PRESHOWER,objectname=ESFloatCondObjectContainer}



[TagManipulation]

check: new


[Comments]

Release: 36X >= 360pre4. For use with 8E29 !HLT menu.

Scope: To be used for reprocessing of 2009As the 'MC' GT (including bad channels), but with realistic startup alignment and calibration constants. The mis-alignment and mis-calibration scenarios are described [[AlCaScenarios][here]]
#Changes: <br> - new L1 Menu 'Commissioning2010_v1'

Changes: <br> - update L1 GCT configuration (backport form 37X)<br> - add SiStrip gains from particles<br> - update dE/dx SiStrip templates<br> - ECAL pedestals for new noise simulation (backport from 37X)<br> - add ES objects from DB




